/*Style GÃŠnÃŠral*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: Georgia, serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
    color: saddlebrown;
}
nav ul{
    list-style-type: none;
}
/*le float */
nav li{
    float: left;:
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav li{
    float: left;
    width: 20%;
    text-align: justify;
}
/*txt dec. pour enlever la barre de souilignement du lien c'est bien pour le hover*/
nav a{
    display: block;
    text-decoration: none;
    color: saddlebrown;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
/*le changement de couleur lorsque l'on passe dessus*/
nav a:hover{
    color: hotpink;
    border-bottom: 2px saddlebrown;
}
/* sticky colle et top 0px est coller sur le dessus*/
nav{
    width: 100%;
    margin: 0 auto;
    background-color: darksalmon;
    position: sticky;
    bottom: 2px;
}

body{
    background-color: antiquewhite;
}


p{
    font-size: 1.5em;
    line-height: 2em;
}

a{
    text-decoration: none;
    color: deeppink;
}

/*HEADER FOOTER*/

header, footer{
    width: 100%;
    padding: 25px 0px;
    background: darksalmon;
    box-shadow: 5px 5px 15px lightsalmon;
}
header{
    border-bottom: 4px solid saddlebrown;
    height: 120px;
}
header h1{
    color: saddlebrown;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}

footer{
    border-top: 4px solid saddlebrown;
    background: darksalmon;
}
footer p{
    width: 90%;
    margin: 0 auto;
    color: saddlebrown;
    text-align: center;
}
footer a{
    color: hotpink;
}

/*SECTIONS*/

section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 5px 5px 10px lightsalmon;
    background-color: floralwhite;
}

section h2{
    margin: 25px 0;
    width: 90%;
    color: saddlebrown;
}

section > div{
    width: 90%;
}

.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 1px solid lightsalmon;
    box-shadow: 5px 5px 10px lightsalmon;
    border-radius: 80%;
    margin-top: -100px;
    background-color: floralwhite;
}


.prez{
    border-bottom: 2px dashed #ccc;
}
.prez a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: floralwhite;
    background-color: salmon;
    box-shadow: 5px 5px 10px lightsalmon;
    border-radius: 5px;
}


.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}

.social{
    flex: 0 1 50%;
    display: flex;
    justify-content: space-around;
    margin: 90px auto 0px auto;
    
}
.social img{
    width: 60px;
    height: 60px;
}


.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid saddlebrown;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100px;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
}
.exp h3{
    font-size: 1.2em;
}
.exp h4{
    font-size: 1em;
    font-weight: normal;
}
.comp{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.comp p{
    flex: 0 0 40%;
}
.h3gauche {
    color: saddlebrown;
    float: left;
    font-size: 1.2em;
    margin: ;

}
.conteneur-barre{
    flex: 0 0 50%;
    border-radius: 10px;
    background-color: saddlebrown;
    border-bottom: 10px saddlebrown;
}

.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.c85{
    width: 85%;
    background-color: salmon;
}
.c90{
    width: 90%;
    background-color: salmon;
}
.c95{
    width: 95%;
    background-color: salmon;
}
.c100{
    width: 100%;
    background-color: salmon;
    border-radius: 5px;
}

.comp2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.conteneur-barre2{
    flex: 0 0 100%;
    height: 1em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    background-color: saddlebrown;
}

.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 90px;
    height: 100px;
    border-radius: 80%;
    box-shadow: 5px 5px 15px lightsalmon;
    border: 1px solid lightsalmon;
}

.prez, .contact{
    flex: 0 0 45%;
}
.prez{
    border-bottom: none;
    border-right: 2px solid saddlebrown;
    padding-right: 20px;
    margin-left: auto;
}
.contact{
    padding-left: 20px;
    margin-right: auto;
}
.prez a{
    border: 2px solid transparent;
}
.prez a:hover{
    color:floralwhite;
    background-color: deeppink;
    border: 2px solid lightpink;
    box-shadow: 5px 5px 20px deeppink;
}
.exp-logo{
    flex: 0 0 10%;
}

.interet{
    flex: 0 1 25%;
}

@media screen, and (min-width: 880px){
    section{
        width: 80%;
        box-shadow: 5px 5px 10px lightsalmon;
    }
    
    a:hover{
        color: saddlebrown;
    }

    header h1{
        width: 80%;
    }
}